<app-cabecera></app-cabecera>
<div class="col-md-4 contenedor">
    <div class="card card-container p-4 registro">
        <img id="profile-img" src="assets/images/logo.png">
        <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" autocomplete="off" novalidate>
            <span class="obligatorio m-2" *ngIf="f.submitted && isSignUpFailed">
                El registro ha fallado.<br />{{ errorMessage }}
            </span>
            <!-- NOMBRE + CONDICIÓN DE ERROR 3 <= NOMBRE <= 20 -->
            <div class="form-group m-2">
                <label for="nombre">Nombre 
                    <span class='obligatorio'>* </span>
                    <span class="obligatorio error" *ngIf="nombre.errors && f.submitted && nombre.errors['required']">CAMPO OBLIGATORIO</span>
                    <span class="obligatorio error" *ngIf="nombre.errors && f.submitted && nombre.errors['minlength']">EL NOMBRE DEBE TENER AL MENOS 3 CARACTERES</span>
                    <span class="obligatorio error" *ngIf="nombre.errors && f.submitted && nombre.errors['maxlength']">EL NOMBRE ES DEMASIADO LARGO</span>
                </label>
                <input type="text" aria-label="Introducir nombre de usuario" class="form-control" name="nombre" id="nombre" [(ngModel)]="form.nombre" required minlength="3"
                    maxlength="20" #nombre="ngModel" />                
            </div>

            <!-- APELLIDO + CONDICIÓN DE ERROR 3 <= APELLIDO <= 50 -->
            <div class="form-group m-2">
                <label for="apellido">Apellido 
                    <span class='obligatorio'>* </span>
                    <span class='obligatorio error' *ngIf="apellido.errors && f.submitted && apellido.errors['required']">CAMPO OBLIGATORIO</span>
                    <span class='obligatorio error' *ngIf="apellido.errors && f.submitted && apellido.errors['minlength']">EL APELLIDO DEBE TENER AL MENOS 3 CARACTERES</span>
                    <span class='obligatorio error' *ngIf="apellido.errors && f.submitted && apellido.errors['maxlength']">EL APELLIDO ES DEMASIADO LARGO</span>
                </label>
                <input type="text" aria-label="Introducir apellido de usuario" class="form-control" name="apellido" id="apellido" [(ngModel)]="form.apellido" required
                    minlength="3" maxlength="50" #apellido="ngModel" />
            </div>

            <!-- EMAIL + CONDICIÓN DE ERROR Formato email -->
            <div class="form-group m-2">
                <label for="email">Correo Electrónico 
                    <span class='obligatorio'>* </span>
                    <span class='obligatorio error' *ngIf="email.errors && f.submitted && email.errors['required']">CAMPO OBLIGATORIO</span>
                    <span class='obligatorio error' *ngIf="email.errors && f.submitted && email.errors['email']">DEBE SER UNA DIRECCIÓN DE CORREO ELECTRÓNICO VÁLIDA</span>
                </label>
                <input type="email" class="form-control" aria-label="Introducir email de usuario" name="email" id="email" [(ngModel)]="form.email" required email
                    #email="ngModel" />
            </div>

            <!-- CONTRASEÑA + CONDICIÓN DE ERROR CONTRASEÑA >= 6 -->
            <div class="form-group m-2">
                <label for="password">Contraseña 
                    <span class='obligatorio'>*</span>
                    <span class='obligatorio error' *ngIf="password.errors && f.submitted && password.errors['required']"> CAMPO OBLIGATORIO</span>
                    <span class='obligatorio error' *ngIf="password.errors && f.submitted && password.errors['minlength']">LA CONTRASEÑA DEBE TENER AL MENOS 6 CARACTERES</span>
                </label>
                <input type="password" class="form-control" aria-label="Introducir contraseña" id="password" name="password" [(ngModel)]="form.password" required
                    minlength="6" #password="ngModel" />
            </div>

            
            <div class="form-group m-2">
                <button class="btn boton btn-block" aria-label="registrar usuario">Resgistrarme</button>
            </div>
            <p>¿Ya tienes una cuenta? <a href="#" routerLink="/login" class="enlace" aria-label="ir a login">Inicia sesión</a></p>
            

        </form>

        <div class="alert alert-success" *ngIf="isSuccessful">
            Se ha registrado con éxito.
        </div>
    </div>
</div>
<app-footer></app-footer>